In [1]:
import requests as req
import pandas as pd
from io import BytesIO,StringIO
from zipfile import ZipFile

In [2]:
url='https://opendart.fss.or.kr/api/corpCode.xml'
agent="User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/81.0.4044.122 Safari/537.36"

In [3]:
url=url+'?crtfc_key=8ba80dc16d7ef17c0c9545fcb4866bd2e292c734'

In [4]:
res=req.get(url,headers={'User-Agent':agent})

In [5]:
aa=res.content

In [6]:
with open('cc.zip','wb') as f:
    f.write(aa)

In [7]:
with ZipFile('cc.zip') as zpfile:
       zpfile.extractall()

In [8]:
import xml.etree.ElementTree as ET
tree=ET.parse('CORPCODE.xml')
root=tree.getroot()

In [9]:
df=pd.DataFrame(columns=['회사명','고유코드'])
i=0
for child in root:
    corp_code=child.find('corp_code')
    corp_name=child.find('corp_name')
    df.loc[i,0]=corp_name.text
    df.loc[i,1]=corp_code.text
    i+=1

In [10]:
df

       회사명 고유코드                  0         1
0      NaN  NaN                 다코  00434003
1      NaN  NaN               일산약품  00434456
2      NaN  NaN              굿앤엘에스  00430964
3      NaN  NaN               한라판지  00432403
4      NaN  NaN  크레디피아제이십오차유동화전문회사  00388953
...    ...  ...                ...       ...
78247  NaN  NaN           리더스스타코리아  00809340
78248  NaN  NaN             용산무역센터  01213063
78249  NaN  NaN               부관훼리  00123693
78250  NaN  NaN                 세종  00234865
78251  NaN  NaN              재경홀딩스  00878377

[78252 rows x 4 columns]

In [18]:
df2=df.iloc[:,2:]

In [20]:
df2.columns=['회사명','고유코드']

In [25]:
df2.sort_values('회사명').to_excel('고유코드.xlsx')